.App {
  text-align: center;
  margin-top: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.list{
  display: flex;

  justify-content: space-between;
border: 1px solid grey;
  padding: 10px;
  gap:10px
}
.list_items{
  color:gray;
}
.list_items_col{
text-decoration: line-through;

}
.cl_bl{
  color: #61dafb;
  font-weight: bolder;
}
.cl_sim{
  color:gray;
}


.btn-active{
  background-color: #61dafb;
}
.btn-no-active{
  background-color: aliceblue;
}